<div class="center jumbotron">
    <div class="container">
      <h1>Welcome to Contact Manager App!</h1>
      
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %><br><br>
        <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary btn-success' %>
      </p>
    </div>
  </div>
