<h1>List of Contacts</h1>

<table align="center">
<% if !@contacts.blank? %>
<tr>
	<th>Name  </th>
	
</tr><br>
  <% for contact in @contacts %>
    

	<tr>
		<td><%= contact.name %></td>
		
		<td> <%= link_to "View Contact", contactshow_path(contact) , class: 'btn btn-link btn-sm' %></td>
	</tr><br>
  <% end %>
  <% else %>
  	<p align="center" style="color: red">No Contacts Found...!</p>
  	<p align="center" ><%= link_to "Click to add New", new_contact_path ,class: 'btn btn-link btn-lg' %><br></p>
  
<% end %>
</table>

<%= link_to "back", walt_path ,class: 'btn btn-link btn-lg' %><br>